<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This is a weather web application</p>
    <form method="post" action="/">
    <input placeholder="type in a location" name="locationChosen">
    <button>Search</button>
    </form>
    </div>

    {{>footer}}
<script src="js/app.js"></script>   
</body>
</html>